<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns="http://java.sun.com/xml/ns/javaee" 
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
	<display-name>Archetype Created Web Application</display-name>
	<filter>
		<description>
		</description>
		<display-name> adminpanel/*</display-name>
		<filter-name> adminpanel/*</filter-name>
		<filter-class>filters.AdminFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name> adminpanel/*</filter-name>
		<url-pattern>/adminpanel/*</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>HelloWorldServlet</servlet-name>
		<servlet-class>servlets.HelloWorldServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CreateUser</servlet-name>
		<servlet-class>servlets.users.CreateUser</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateUser</servlet-name>
		<servlet-class>servlets.users.UpdateUser</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteUser</servlet-name>
		<servlet-class>servlets.users.DeleteUser</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CreateTour</servlet-name>
		<servlet-class>servlets.tours.CreateTour</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateTour</servlet-name>
		<servlet-class>servlets.tours.UpdateTour</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CreateOrder</servlet-name>
		<servlet-class>servlets.orders.CreateOrder</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateOrder</servlet-name>
		<servlet-class>servlets.orders.UpdateOrder</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>servlets.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Registration</servlet-name>
		<servlet-class>servlets.Registration</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MyAccountServlet</servlet-name>
		<servlet-class>servlets.MyAccountServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>LogoutServlet</display-name>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>servlets.LogoutServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AdminPanel</display-name>
		<servlet-name>AdminPanel</servlet-name>
		<servlet-class>servlets.adminpanel.AdminPanel</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HelloWorldServlet</servlet-name>
		<url-pattern>/hello</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CreateUser</servlet-name>
		<url-pattern>/adminpanel/create/user</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateUser</servlet-name>
		<url-pattern>/profile/edit</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteUser</servlet-name>
		<url-pattern>/profile/delete</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CreateTour</servlet-name>
		<url-pattern>/adminpanel/create/tour</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateTour</servlet-name>
		<url-pattern>/adminpanel/update/tour</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CreateOrder</servlet-name>
		<url-pattern>/profile/create/order</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateOrder</servlet-name>
		<url-pattern>/profile/update/order</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Registration</servlet-name>
		<url-pattern>/registration</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MyAccountServlet</servlet-name>
		<url-pattern>/myaccount</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminPanel</servlet-name>
		<url-pattern>/adminpanel</url-pattern>
	</servlet-mapping>
	
</web-app>
